<div>
  <div class="tablepos">
    <table> 
      <tr *ngIf="isError"> 
          <td>
              <Label style="font-family: verdana;font-weight: bold; color:red">
                  {{errorMessage}}
              </Label>
          </td>
      </tr>
      <tr>
        <td  class="Addbutton">
          <button class="editButton" mat-raised-button color="primary" (click)=" onaddClicked()">Add New Employee</button>
        </td>
      </tr>
      <tr>  
        <td>
          <table style="border-collapse: collapse;" border=1>
            <thead> 
              <tr>
                  <th>S.No</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Date of Birth</th>
                  <th>Annual Salary</th>
                  <th>Department Name</th>
                  <th>Location</th>
                  <th>Edit</th>
                  <th>Delete</th>
              </tr>
            </thead> 
            
            <tbody>
              <tr *ngFor="let data of employees; let i=index" [ngStyle]="{'background-color':getBackGroundColor(i)}">
                  <td style="text-align: center;">{{i+1}}</td>
                  <td>{{data.firstName}}</td>
                  <td>{{data.lastName}}</td>
                  <td style="text-align: center;">{{data.dateOfBirth | date:'dd/MM/yyyy'}}</td>
                  <td style="text-align: center;">{{data.annualSalary}}</td>
                  <td>{{data.departmentName}}</td>
                  <td>{{data.location}}</td>
                  <td><button  (click)="EditEmployee(data.employeeId)" class="editButton"  mat-raised-button color="primary">Edit</button></td>
                  <td><button (click)="deleteEmployee(data.employeeId)" class="deleteButton"  mat-raised-button color="warn">Delete</button></td>
              </tr>
            </tbody>
          </table>        
        </td>
      </tr>
    </table>
  </div>
</div>
