<br>
<div>
    <form [formGroup]="departmentForm" (ngSubmit)="SaveData()">
        <table style="margin-left: 200px;">
            <tr>
                <td>                    
                    <label >Department Name:</label> 
                </td>
                <td>
                    <input type="text" placeholder="Enter DepartmentName" formControlName="departmentName">
                </td>
            </tr>
            <tr>
                <td>                    
                    <label >Location:</label>
                </td>
                <td>                    
                    <input type="text" placeholder="Location" formControlName="location">
                </td>
            </tr>
            <tr>
                <td class="Submit">
                    <button  class="add-employee" mat-raised-button color="primary"  type="submit">{{departmentId == 0 ? 'Add Department':'Update Department'}}</button>
                </td>
            </tr>
            <tr></tr>
            <tr *ngIf="isError"> 
                <td>
                    <Label style="font-family: verdana;font-weight: bold; color:red">
                        {{errorMessage}}
                    </Label>
                </td>
            </tr>
        </table>
    </form>
</div>
